<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <meta name="format-detection" content="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css"/>
    <script type="text/javascript" src="/javascripts/ui.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>

</head>
<body>
<div class="wrapper"><!-- start : wrapper -->

</div><!-- end : wrapper-->

<div class="loginBox">
    <div class="bgBox"></div>
    <div class="loginCont">
        <h1><img src="/images/etc/etc_logo01.png" /></h1>
        <dl class="norForm">
            <dt class="formSubj">아이디 찾기</dt>

            <dt>Full name <img src="/images/ico/ico_nec.png"></dt>
            <dd>
                <input type="text" class="inp" placeholder="이름을 입력해주세요.">
            </dd>
            <dt>Email address <img src="/images/ico/ico_nec.png"></dt>
            <dd>
                <input type="email" class="inp">
                <span>@</span>
                <input type="text" class="inp">
                <select class="select"><option>직접입력</option></select>
            </dd>
        </dl>
        <div class="loginBtn ac">
            <a href="javascript:void(0)" class="btnJoin mui-btn">아이디 찾기</a>
        </div>

        <dl class="norForm">
            <dt class="formSubj">비밀번호 찾기</dt>

            <dt>사용자 ID <img src="/images/ico/ico_nec.png"></dt>
            <dd>
                <input type="text" class="inp" placeholder="아이디를 입력해주세요.">
            </dd>
        </dl>
        <div class="loginBtn ac">
            <a href="javascript:void(0)" class="btnJoin mui-btn">비밀번호 찾기</a>
        </div>




    </div>
</div>

</body>
</html>