<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <meta name="format-detection" content="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="../../include/css/common.css" type="text/css"/>
    <script type="text/javascript" src="../../include/js/ui.js"></script>
    <script type="text/javascript" src="../../include/js/common.js"></script>

</head>
<body>
<div class="wrapper"><!-- start : wrapper -->

</div><!-- end : wrapper-->

<div class="loginBox">
    <div class="bgBox"></div>
    <div class="loginCont">
        <h1><img src="../../include/images/etc/etc_logo01.png" /></h1>
        <dl class="norForm">
            <dt class="formSubj">회원정보</dt>

            <dt>사용자 ID</dt>
            <dd>
                <input type="text" class="inp" placeholder="아이디를 입력해주세요.">
                <a href="javascript:void(0)" class="btnOverlap mui-btn">중복 확인</a>
            </dd>
            <dt>Password <img src="../../include/images/ico/ico_nec.png"></dt>
            <dd>
                <input type="password" class="inp" placeholder="비밀번호를 입력해주세요.">
            </dd>
            <dt>Confirm Password <img src="../../include/images/ico/ico_nec.png"></dt>
            <dd>
                <input type="password" class="inp" placeholder="비밀번호를 다시 입력해주세요.">
            </dd>
            <dt>Full name <img src="../../include/images/ico/ico_nec.png"></dt>
            <dd>
                <input type="text" class="inp" placeholder="이름을 입력해주세요.">
            </dd>
            <dt>Email address <img src="../../include/images/ico/ico_nec.png"></dt>
            <dd>
                <input type="email" class="inp">
                <span>@</span>
                <input type="text" class="inp">
                <select class="select"><option>직접입력</option></select>
            </dd>
        </dl>
        <div class="loginBtn ac">
            <a href="javascript:void(0)" class="btnJoin mui-btn">가입하기</a>
        </div>




    </div>
</div>

</body>
</html>