<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <meta name="format-detection" content="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css"/>
    <script type="text/javascript" src="/javascripts/ui.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>

</head>
<body>
<div class="wrapper"><!-- start : wrapper -->

</div><!-- end : wrapper-->

<div class="loginBox">
    <div class="bgBox"></div>
    <div class="loginCont">
        <h1><img src="/images/etc/etc_logo.png" /></h1>
        <div class="loginForm">
            <label>USERNAME</label>
            <input type="text" placeholder="아이디를 입력하세요." class="inp" />
            <label>PASSWORD</label>
            <input type="password" placeholder="비밀번호를 입력하세요." class="inp" />

            <div class="loginBtn">
                <a href="/dashboard" class="btnLogin mui-btn">로그인</a>
                <a href="/join" class="btnJoin mui-btn">회원가입</a>
            </div>
            <div class="loginFind">
                <a href="/find">아이디/비밀번호 찾기</a>
            </div>

        </div>




    </div>
</div>

</body>
</html>