<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <meta name="format-detection" content="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css"/>
    <script type="text/javascript" src="/javascripts/ui.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>

</head>
<body>
<div class="wrapper"><!-- start : wrapper -->

    <div class="header"><!-- start : header -->
        <div class="rela">
            <h1><a href="javascript:void(0)" class="mui-btn">KND</a></h1>
            <div class="totalBox">
                <ul id="gnb" class="gnb">
                    <li><a href="javascript:void(0)">홈</a></li>
                    <li><a href="javascript:void(0)">프로젝트현황</a></li>
                    <li><a href="javascript:void(0)">품질분석 현황</a></li>
                    <li><a href="javascript:void(0)" class="arr">관리자용</a>
                        <ul class="subm">
                            <li><a href="">사용자관리</a></li>
                            <li><a href="">기관관리</a></li>
                            <li><a href="">분석신청</a></li>
                            <li><a href="">분석결과</a></li>
                            <li><a href="">평가내역</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="sideCont">
                <a href="javascript:void(0)" class="icoLink mui-btn">
                    <i class="el-icon-question"></i>
                </a>
                <a href="javascript:void(0)" class="icoLink mui-btn">
                    <i class="el-icon-bell"></i>
                </a>
                <a href="javascript:void(0)" class="icoLink mui-btn">
                    <i class="el-icon-setting"></i>
                </a>
                <div class="selectLayer">
                    <a href="javascript:void(0)" class="selectLink">
                        <img src="/images/etc/etc_myinfo.png" />
                    </a>
                    <ul class="selectValueList" style="display: none;">
                        <li><a href="javascript:void(0)">프로파일</a></li>
                        <li><a href="javascript:void(0)">로그아웃</a></li>
                    </ul>
                </div>
                <a href="javascript:void(0)" class="tOpen icoLink mui-btn">
                    <i class="el-icon-s-unfold"></i>
                    <i class="el-icon-close"></i>
                </a>
            </div>
        </div>
    </div><!-- end : header -->

    <div class="container" id="contents"><!-- start : container -->
        <div class="sonaView">
            <div class="bar">
                <div class="mui-select">
                    <select>
                        <option>가나다라시스템 현대화1</option>
                        <option>가나다라시스템 현대화2</option>
                        <option>가나다라시스템 현대화3</option>
                    </select>
                </div>
                <a href="javascript:void(0)" class="mui-btn">불러오기</a>
            </div>
            <div class="sonaCont"></div>
        </div>
        <div class="sonaInfo">
            <div class="bar">
                <h2>프로젝트정보</h2>
            </div>
            <dl>
                <dt>Quality Gate</dt>
                <dd>
                    <span class="key">(Default)</span>
                    <span class="value">SG</span>
                </dd>
                <dt>Quality Gate</dt>
                <dd>
                    <span class="key">(Default)</span>
                    <span class="value">SG</span>
                </dd>
                <dt>Quality Gate</dt>
                <dd>
                    <span class="key">(Default)</span>
                    <span class="value">SG</span>
                </dd>
                <dt>Quality Gate</dt>
                <dd>
                    <span class="key">(Default)</span>
                    <span class="value">SG</span>
                </dd><dt>Quality Gate</dt>
                <dd>
                    <span class="key">(Default)</span>
                    <span class="value">SG</span>
                </dd>

            </dl>
        </div>

    </div><!-- end : container -->


</div><!-- end : wrapper-->
<script>
    $(function(){

    });
</script>

</body>
</html>